* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body {
    background: rgb(255, 113, 113);
    background: linear-gradient(90deg, rgba(255, 113, 113, 1) 0%, rgba(255, 188, 94, 1) 100%);
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
}

.calc_screen {
    background: rgb(255, 255, 255);
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.equals {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

.calc_button {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-auto-rows: 80px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.calc-btn {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.calc-btn:active {
    background: rgb(233, 233, 233);
    transition: 0.2s;
}

@media (max-width: 400px) {
    * {
        font-size: 20px;
    }

    .calc_button {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px;
        grid-auto-rows: 60px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}